{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Синхронизация почтовых серверов</title>
    <link rel="stylesheet" href="{% static 'mail_sync/css/style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'mail_sync/img/favicon.ico' %}">
</head>
<body>
    <section class="auth">
        <div class="container">
            <div class="main">
                <div class="fill_form">
                    <h1>Синхронизация почтовых серверов</h1>
                    <div class="form">
                        <form action="{% url 'success' %}" method="POST">
                            {% csrf_token %}
                            <input name="login" type="email" id="email" placeholder="Введите свой e-mail" required>
                            <input name="ya_app_pass" type="password" id="ya_app_pass" placeholder="Пароль для приложений (Яндекс)" required>
                            <input name="tmail_pass" type="password" id="tmail_pass" placeholder="Пароль от нашего почтового сервера (tmail)" required>
                            <button type="submit">Сохранить</button>
                        </form>
                    </div>
                </div>
                <div class="image_form">
                    <img src="{% static 'mail_sync/img/letter.png' %}" alt="letter" class="letter">
                </div>
            </div>
        </div>
    </section>
</body>
</html>